<%= render 'profile' , user: @user %>

<div class="text-center mt-5">
  <h1>行ってみたいお店</h1>
</div>
<% if @user.like_restaurants.any? %>
  <%= render 'restaurants/restaurants', restaurants: @likes %>
<% end %>