<%= render 'profile' , user: @user %>

<div class="text-center mt-5">
  <h1>行ってみたいお店</h1>
</div>
<% if @user.like_restaurants.any? %>
  <%= render 'restaurants/restaurants', restaurants: @likes %>
<% else %>
  <div class="text-center mt-5">
    <p>気になるレストランを探していいねしましょう</p>
    <%= link_to "探しに行く", restaurants_path, class: 'btn btn-lg btn-success'%>
  </div>
<% end %>