<div class="row">
  
  <div class="col-12 mx-auto p-3 p-sm-5 my-2">
    <div class="text-center text-black">
      <h1>行ってみたいお店を共有しよう</h1>
    </div>
    <div class="text-center text-black mt-3">
      <%= link_to 'スタート', signup_path, class: 'btn btn-lg btn-success' %>
    </div>
    <div class="mt-3">
      <a href="/"><img src="/main-visual.jpg" alt="main-visual.jpg" class="main-visual"></a>
    </div>
  </div>
</div>